@import 'setting.scss';

.board-content {
    height: $board-content-height;
    display: flex;
    // margin: 0 10px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    &:after {
      content: '';
      flex: 0 0 10px;
    }
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #FFFAFA;
      border-radius: 8px;
    }
    .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
    }
    .add-new-column {
      width: 250px;
      max-width: 250px;
      line-height: 32px;
      padding: 4px 0 4px 15px;
      cursor: pointer;
      color: white;
      margin-left:  10px;
      font-size: 15px;
      background-color: hsla(0, 0%, 100%, .24);
      border-radius: 5px;
      &:hover {
        background-color: hsla(0, 0%, 100%, .34);
      }
    }
    .enter-new-column {
      width: 250px;
      max-width: 250px;
      background-color: #ebecf0;
      line-height: 32px;
      padding: 4px 10px;
      margin-left:  10px;
      border-radius: 5px;
      input.input-enter-new-column {
        margin: 5px 0;
      }
      span.cancel-new-column {
          margin-left: 10px;
          cursor: pointer;
          i {
            font-size: 18px;
            color: #ee5253;
            &:hover {
              color: darken(#ee5253, 10)
            }
          }
      }
    }
  }